#container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mode {
  width: 80%;
  cursor: pointer;
  padding: 0.5rem 0.25rem;
  border-radius: 5px;
  text-align: start;
  font-size: 1.1rem;
}
