html, body {
	height: 100%;
}

body {
	background-color: #302929;
}

#board {
  width: 30rem;
  height: 30rem;
	border-spacing: 0;
	border-width: 0;
	border-radius: 8px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#board
  :is(
    tr:nth-child(odd) td:nth-child(odd),
    tr:nth-child(even) td:nth-child(even)
  ) {
  background-color: #ffe;
}

#board
  :is(
    tr:nth-child(odd) td:nth-child(even),
    tr:nth-child(even) td:nth-child(odd)
  ) {
  background-color: #191;
}

#board .piece {
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}
