* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #302929;
}

#board {
  width: 40rem;
  height: 40rem;
  border-spacing: 0;
  border-width: 0;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#board
  :is(
    tr:nth-child(odd) td:nth-child(odd),
    tr:nth-child(even) td:nth-child(even)
  ) {
  background-color: #ffd09f;
}

#board
  :is(
    tr:nth-child(odd) td:nth-child(even),
    tr:nth-child(even) td:nth-child(odd)
  ) {
  background-color: #5b3112;
}

.piece {
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
}

.piece.active {
  background-color: #b53d3d;
}

.move {
  --offsetX: 0;
  --offsetY: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  visibility: hidden;
  transform: translate(
    calc(100% * var(--offsetX)),
    calc(100% * var(--offsetY))
  );
}

.move::after {
  content: "";
  width: 30%;
  height: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f4f4f4bf;
  border-radius: 9999px;
}

.move.enemy::after {
  width: 100%;
  height: 100%;
  border: 10px solid #f4f4f4bf;
  background-color: transparent;
  box-sizing: border-box;
}

.piece.active .move {
  visibility: visible;
  z-index: 1;
}
