<table
		id="board"
		hx-get="/board"
		hx-trigger="reload"
		hx-swap="outerHTML">
	<tbody>
		{{#rows}}
		<tr>
			{{#squares}}
				{{#isPiece}}
					<td class="piece {{classes}}"></td>
				{{/isPiece}}
				{{^isPiece}}
					<td class="square"></td>
				{{/isPiece}}
			{{/squares}}
		</tr>
		{{/rows}}
	</tbody>
</table>
