<table id="board">
	<tbody>
		{{#rows}}
		<tr>
			{{#squares}}
				<td class="{{classes}}">
					{{#moves}}
						<div
							class="{{classes}}"
							style="
								 --offsetX: {{offsetX}};
								 --offsetY: {{offsetY}};
						 "></div>
					{{/moves}}
				</td>
			{{/squares}}
		</tr>
		{{/rows}}
	</tbody>
</table>
