<table
		id="board"
		hx-get="/board"
		hx-trigger="reload"
		hx-swap="outerHTML">
	<tbody>
		{{#rows}}
		<tr>
			{{#squares}}
			<td class="piece {{identifiers}}"></td>
			{{/squares}}
			{{^squares}}
			<td class="square"></td>
			{{/squares}}
		</tr>
		{{/rows}}
	</tbody>
</table>
