<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="assets/static/css/reset.css">
		<link rel="stylesheet" type="text/css" href="assets/static/css/global.css">
		<link rel="stylesheet" type="text/css" href="assets/static/css/pieces.css">
		<title>Chess 2</title>
		<script src="https://unpkg.com/htmx.org@1.9.10"></script>
		<script type="text/javascript" src="assets/static/js/client.js"></script>
	</head>
	<body>
		<div
				id="mainContent"
				hx-get="/board"
				hx-trigger="load"
				hx-swap="outerHTML"
				>
				<h2>Welcome to chess 2</h2>
				<span>Awaiting page request</span>
		</div>
	</body>
</html>
