<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/css/global.css">
    <title>Chess 2</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script type="text/javascript" src="src/main/resources/static/js/client.js"></script>
  </head>
  <body>
    <h2>Welcome to chess 2</h2>
    <div 
      hx-get="/board"
      hx-trigger="load"
      hx-swap="outerHTML"
      hx-push-url="true"
    >
      Awaiting page request
    </div>
  </body>
</html>
